.grid-container {
  margin: 20px;
}

.holder {
  padding-top: 50px;
  padding-bottom: 50px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.card:hover {
  box-shadow: -1px 10px 29px 0px rgba(0,0,0,0.8);
}

.header{
  padding-top: 50px;
}

.name {
  padding-right: 19px;
  padding-bottom: 20px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}


.example-card {
  max-width: 750px;
  margin: 3% 0;
  border-radius: 0.5em;
  box-shadow: 0 0 1em gray;
  width: 100%;
  box-sizing: border-box;
}

.line {
  padding: 60px;
}