<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"
      fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a *ngIf="!isAuth" mat-list-item href="#">Home</a>
      <a *ngIf="!isAuth" mat-list-item href="#" routerLink="/auth/login">Login</a>
      <a *ngIf="!isAuth" mat-list-item href="#" routerLink="/auth/register">Register</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <mat-icon class="logo">local_grocery_store</mat-icon>
      <span>OnlineStore</span>
      <a *ngIf="!isAuth" class="link" href="#">Home</a>
      <a *ngIf="isAuth" class="link" routerLink="/all-products">Procuts</a>
      <span class="spacer"></span>
      <a *ngIf="isAuth" class="link" routerLink="/create">Create product</a>
      <a *ngIf="isAuth" class="link" routerLink="">My Profile</a>
      <a *ngIf="isAuth" class="link" routerLink="" (click)="signOut()">Logout</a>

      <a *ngIf="!isAuth" class="link" routerLink="/auth/login">Login</a>
      <a *ngIf="!isAuth" class="link" routerLink="/auth/register">Register</a>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
