<div class="side-space">

<div class="cards-holder"  fxLayout="row wrap" fxLayoutGap="15px" fxLayoutAlign="flex-start">
  <ng-container *ngFor="let product of (products | async)">
    <mat-card class="card">
      <div class="head" fxLayoutAlign="center">
        <mat-card-header>
          <mat-card-title>{{product.name}}</mat-card-title>
        </mat-card-header>
      </div>
    
      <img mat-card-image src="{{product.imageUrl}}" alt="Photo of a Shiba Inu" />
      <mat-card-actions class="action-btn" fxLayout fxLayoutAlign="center">
          <button mat-button color="primary" (click)="details(product.key)">details</button>
      </mat-card-actions>
      
     <span fxLayoutAlign="center" class="price">
      <b>$ {{product.price}}</b>
     </span>
    </mat-card>

    <div class="line"><mat-divider></mat-divider></div>
  </ng-container>      
</div>
</div>