<mat-card class="card">
    <div fxLayoutAlign="center">
      <mat-card-header>
        <mat-card-title>{{store.name}}</mat-card-title>
      </mat-card-header>
    </div>
  
    <img mat-card-image src="{{store.imageUrl}}" alt="Photo of a Shiba Inu" />
    <mat-card-content>
      <p fxLayoutAlign="center">
        {{store.address}}
      </p>
    </mat-card-content>
    <mat-card-actions class="action-btn" fxLayout fxLayoutAlign="space-between">
      <div >
        <button  mat-button>
          <mat-icon>thumb_up_alt</mat-icon>
        </button>
        <span #likes class="likes">
           {{store.likes}}
        </span>
  
        <button  mat-button>
          <mat-icon>thumb_down_alt</mat-icon>
        </button>
        <span #dislikes class="dislikes">
          {{store.dislikes}}
        </span>
      </div>
    </mat-card-actions>
  </mat-card>